PORT=3000

# Credenciales Gmail (usa App Password, no tu password normal)
GMAIL_USER=cristiandavid11232@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_de_16_caracteres

# Correos y credenciales para usuarios de la base en memoria
# Puedes usar el mismo Gmail en ambos para recibir codigos.
ADMIN_EMAIL=cristiandavid11232@gmail.com
ADMIN_PASSWORD=admin123
STUDENT_EMAIL=cristiandavid11232@gmail.com
STUDENT_PASSWORD=student123

# Secreto JWT para firmar Access Token (15 segundos)
JWT_SECRET=ratatuil_comedia
